
html, body {
    margin: 0;
    padding: 0;
    font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #333333;
}

html {
    overflow-y: scroll;
    box-sizing: border-box;
}

*,*::before,*::after {
    box-sizing: inherit;
}
  

h1, h2, h3, h4, h5, h6, a, b, i, ins, span, div, input, textarea, select, option, li, ul, p, fieldset {
    padding: 0;
    margin: 0;
}

ul, li {
    list-style: none;
    padding: 0;
    margin: 0;
}

table {
    border-collapse: collapse;
    border: 0;
}

td, th {
    border: 0;
    overflow: hidden;
}

pre {
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}

body{
    font-size: 12Px;
}

a {
    color: #333333;
    text-decoration: none;
    &:hover{
        text-decoration: none;
    }
}




