// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
            @mixin icon-btn_1 {
                background-position: 0  (-631px) ;
                width: (241px);
                height: (82px);
            }
            @mixin icon-btn_2 {
                background-position: 0  (-452px) ;
                width: (381px);
                height: (82px);
            }
            @mixin icon-btn_3_1 {
                background-position: 0 0;
                width: (656px);
                height: (218px);
            }
            @mixin icon-btn_3_2 {
                background-position: 0  (-226px) ;
                width: (656px);
                height: (218px);
            }
            @mixin icon-btn_3_3 {
                background-position:  (-664px)  0;
                width: (656px);
                height: (218px);
            }
            @mixin icon-btn_4 {
                background-position: 0  (-721px) ;
                width: (46px);
                height: (100px);
            }
            @mixin icon-btn_5_1 {
                background-position:  (-721px)   (-452px) ;
                width: (321px);
                height: (81px);
            }
            @mixin icon-btn_5_2 {
                background-position:  (-389px)   (-452px) ;
                width: (324px);
                height: (81px);
            }
            @mixin icon-btn_5_3 {
                background-position:  (-329px)   (-542px) ;
                width: (321px);
                height: (80px);
            }
            @mixin icon-btn_5_4 {
                background-position: 0  (-542px) ;
                width: (321px);
                height: (81px);
            }
            @mixin icon-btn_6_1 {
                background-position:  (-664px)   (-226px) ;
                width: (320px);
                height: (135px);
            }
            @mixin icon-btn_6_2 {
                background-position:  (-992px)   (-226px) ;
                width: (320px);
                height: (132px);
            }
            @mixin icon-choose {
                background-position:  (-658px)   (-542px) ;
                width: (32px);
                height: (33px);
            }
            @mixin icon-close {
                background-position:  (-1273px)   (-452px) ;
                width: (36px);
                height: (36px);
            }
            @mixin icon-correct {
                background-position:  (-735px)   (-369px) ;
                width: (46px);
                height: (32px);
            }
            @mixin icon-dot_1 {
                background-position:  (-789px)   (-369px) ;
                width: (38px);
                height: (25px);
            }
            @mixin icon-dot_2 {
                background-position:  (-835px)   (-369px) ;
                width: (16px);
                height: (16px);
            }
            @mixin icon-error {
                background-position:  (-1227px)   (-452px) ;
                width: (38px);
                height: (38px);
            }
            @mixin icon-fish {
                background-position:  (-664px)   (-369px) ;
                width: (63px);
                height: (58px);
            }
            @mixin icon-medal_1 {
                background-position:  (-1170px)   (-452px) ;
                width: (49px);
                height: (64px);
            }
            @mixin icon-medal_2 {
                background-position:  (-1050px)   (-452px) ;
                width: (52px);
                height: (64px);
            }
            @mixin icon-medal_3 {
                background-position:  (-1110px)   (-452px) ;
                width: (52px);
                height: (64px);
            }
        @mixin sprite-icon {
            background-image: url(../assets/sprite.png?v=1612943091000);
            background-repeat: no-repeat;
            background-size: (1320px) (821px);
        }


